<div class="text-center">
    <h1 class="display-4">Read anything!</h1>
    <p style="font-size: 2.0em;">
        <span id="typed"></span>
    </p>
</div>

<section class="jumbotron text-center">
    <div class="container">
        <h2 class="jumbotron-heading">Interested? Check it out!</h2>
        <p class="lead text-muted">Check value by asking: "Is {subject} {predicate}?"</p>
    </div>
    <form id="read-form" autocomplete="off">
        <div class="container row" style="margin: 0; padding-bottom: 20px">
            <div class="col-md-6 offset-md-3 pb-3">
                <input style="text-align: center" id="subject-predicate-input" type="text" class="form-control" placeholder="Is this pigeon?">
                <div id="subject-predicate-feedback" class="valid-feedback"></div>
            </div>
            <div class="col-md-4 offset-md-4">
                <button id="read-submit" type="submit" class="btn btn-primary">Check</button>
            </div>
        </div>
    </form>
    <div class="container">
        <h2 id="read-result" class="jumbotron-heading" hidden></h2>
        <p id="result-text" class="lead text-muted" hidden>Outdated? Disagree? <a id="result-link" class="btn btn-primary my-2" asp-controller="Landing" asp-action="Write">Override!</a></p>
    </div>
</section>
