<div class="text-center">
    <h1 class="display-4">Write value</h1>
</div>

<section class="jumbotron text-center">
    <div class="container">
        <h2 class="jumbotron-heading">Override value</h2>
        <p class="lead text-muted">Check value by asking: "Is {subject} {predicate}?"</p>
    </div>
    <div class="container row" style="margin: 0; padding-bottom: 20px">
        <div class="col-md-6 offset-md-3 pb-3">
            <input style="text-align: center" type="text" class="form-control" placeholder="Is this pigeon?">
        </div>
        <div class="col-md-4 offset-md-4">
            <button type="button" class="btn btn-primary">Write</button>
        </div>
    </div>
</section>
